<div class="card">
  <div class="card-header text-center">
    <h5> Add Account Balance </h5>
    
  </div>
  <div class="card-body">
  <form [formGroup]="amountForm" (ngSubmit)="saveAmountData()">
  
    <div class="form-group">
        <label>User</label>
     
      <select  class="form-select" aria-label="Default select example" formControlName="userId">
        @for (item of userList; track item.id) {
          <option value="{{ item.id }}">{{ item.name }}</option>
        }
      </select> 
      </div>

    <div class="form-group">
      <label>Date</label>
      <input type="date"  class="form-control" [max]="maxDate"   formControlName="date">
    </div>

    <div class="form-group">
      <label>Amount</label>
      <input
        type="number"
        formControlName="amount"
        class="form-control"
      />
    </div>


  





    <div class="form-group" style="margin-top: 1ch;">
      <button type="submit" class="btn btn-primary" [disabled]="!amountForm.valid">Save</button>
      <button
        type="button"
        (click)="onReset()"
        class="btn btn-dark float-right"
        style=" margin-left: 1ch;"
      >
        Reset
      </button>
    </div>
  </form>
</div>
</div>
