# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/snacksCalculation/FileContentIndex/dd076ae2-6430-451f-ad88-947a75224795.vsidx
.vs/snacksCalculation/FileContentIndex/981a075d-afe2-48f1-b7e9-7c4078962297.vsidx
.vs/snacksCalculation/FileContentIndex/56d4a974-0354-4fee-b160-e4e152299667.vsidx
.vs/snacksCalculation/FileContentIndex/2ae00fa3-9b18-4c4f-a6ac-3a323bad56f8.vsidx
.vs/snacksCalculation/FileContentIndex/a53dd488-dc77-48ec-9c2b-4c96df1cd483.vsidx
.vs/snacksCalculation/FileContentIndex/75fc7c13-384e-4691-b97d-e7fbe2726729.vsidx
.vs/snacksCalculation/FileContentIndex/18427100-4d33-45f2-9fdb-fdff931d9fbc.vsidx
.vs/snacksCalculation/config/applicationhost.config
.vs/snacksCalculation/v17/DocumentLayout.json
