
<div class="card" style="margin-left: 20%; ">
    <h4 class="card-header text-center">Login</h4>
    <div class="card-body">
        <form [formGroup]="loginForm"(ngSubmit)="loginUser()">
            <div class="mb-3">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control" formControlName="phone"/>

            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password"/>
            </div>
            <div>
                <button [disabled]="this.loginForm.invalid" class="btn btn-primary">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>


   