
   <table class="table table-striped table-hover">
    <thead> 
        <th scope="col"> Date</th>
    @for (item of userList; track item.id) {
        <th scope="col"> {{ item.name }}</th>     
}
</thead>
<tbody>
    
     @for (item of dateList; track item.id) {
        <tr class="">
            <td scope="col"> {{ item }}</td> 
            @for(user of userList; track user.id ) 
            {
                <td>
                    <input>
                </td>
                
            }
        </tr>

          
     }
    
 

    </tbody>
   </table>








