<div>
    <table class="table table-striped table-hover">
        <thead> 
            <th scope="col"> Date</th>
        @for (item of userList; track item.id) {
            <th scope="col"> {{ item.name }}</th>     
    }
    <th scope="col"> Item</th>
    </thead>
    <tbody>
        
         @for (item of dateList; track item.id) {
            <tr class="">
                <td scope="col"> {{ item }}</td> 
                @for(user of userList; track user.id ) 
                {
                    <td scope="col">
                            <input id="{{user.id}}" [(ngModel)]="maptest[item][user.id]" (blur)="onBlurEvent($event, item)" placeholder="0" style="text-align: center;">
                    </td>
                    
                }
                <td scope="col"><input  [(ngModel)]="mapItemList[item]" (blur)="onBlurItemEvent($event, item)" placeholder="Enter Items" style="text-align: center;">
                </td>
            </tr>
    
              
         }
        
     
    
        </tbody>
       </table>
    
       <button class="btn btn-primary" (click)="saveData()">Save</button>
</div>
  








