<div>
    <button class="btn btn-primary" style="float: right;" (click)="exportExcel()">Export</button>
    <table class="table table-striped table-hover">
        <thead>
            <th scope="col"> Date</th>
            @for (item of userList; track item.id) {
            <th scope="col"> {{ item.name }}</th>
            }
            <th scope="col"> Item</th>
        </thead>
        <tbody>

            @for (item of dateList; track item.id) {
            <tr class="">
                <td scope="col"> {{ item }}</td>
                @for(user of userList; track user.id )
                {
                <td scope="col">
                    @if (userValue.typ=="0"||userValue.typ=="1") {
                    <input id="{{user.id}}" [(ngModel)]="maptest[item][user.id]" (blur)="onBlurEvent($event, item)"
                        placeholder="0" style="text-align: center;">

                    }
                    @else {
                    @if(!!maptest[item][user.id])
                    {
                    {{maptest[item][user.id]}}
                    }
                    @else
                    {0

                    }


                    }


                </td>

                }
                <td scope="col">
                    @if (userValue.typ=="0"||userValue.typ=="1") {
                    <input [(ngModel)]="mapItemList[item]" (blur)="onBlurItemEvent($event, item)"
                        placeholder="Enter Items" style="text-align: center;">
                    }
                    @else
                    {
                    @if(!!mapItemList[item])
                    {
                    {{mapItemList[item]}}
                    }

                    }
                </td>
            </tr>


            }
            <tr>
                <td scope="col">Total Cost : </td>
                @for (item of userList; track item.id) {
                @if(userValue.typ=='0'||userValue.typ=="1")
                {

                <td scope="col" style="text-align: center;"> {{ mapUserTotalCostList[item.id] }}</td>
                }@else {
                <td scope="col"> {{ mapUserTotalCostList[item.id] }}</td>
                }

                }
                <td scope="col"> </td>
            </tr>
            <tr>
                <td scope="col">Total Balance : </td>
                @for (item of userList; track item.id) {
                @if(userValue.typ=='0'||userValue.typ=="1")
                {

                <td scope="col" style="text-align: center;"> {{ mapUserTotalCostList[item.id] +mapUserAmountList[item.id]}}</td>
                }@else {
                <td scope="col"> {{ mapUserTotalCostList[item.id] +mapUserAmountList[item.id]}}</td>
                }

                }
                <td scope="col"> </td>
            </tr>

            <tr>
                <td scope="col">Remaining balance </td>
                @for (item of userList; track item.id) {
                @if(userValue.typ=='0'||userValue.typ=="1")
                {

                <td scope="col" style="text-align: center;"> {{ mapUserAmountList[item.id] }}</td>
                }@else {
                <td scope="col"> {{ mapUserAmountList[item.id] }}</td>
                }

                }
                <td scope="col"> </td>
            </tr>


        </tbody>
    </table>

    <button class="btn btn-primary" (click)="saveData()">Save</button>
</div>