<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >Snack's Claculation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
   
        <button class="btn " type="submit"><a (click)="goToDashboard()" style="text-decoration: none; "> Dashboard</a></button>
        <button class="btn " type="submit"><a (click)="goToHome()" style="text-decoration: none; "> File</a></button>
        <button class="btn " type="submit"><a (click)="addNewUser()" style="text-decoration: none; "> Add User</a></button>
        <button class="btn " type="submit"><a (click)="logout()" style="text-decoration: none; "> Logout</a></button>
      </ul>
    </div>
  </div>
</nav>