
<div class="container-fluid">
  <div class="row">

    <div class="d-flex flex-column justify-content-between col-auto bg-dark min-vh-100">
        <div class="bg-dark p-2">
            <a class="text-white d-none d-sm-inline
              text-decoration-none d-flex  align-items-center ">
                <span class="fs-5">SideMenu
                </span>
                
            </a>
            <hr class="text-white d-none d-sm-block"/>
            <ul class="nav nav-pills flex-column mt-2 mt-sm-0" id="menu">
                <li class="nav-item ">
                  <a (click)="goToDashboard()"class="nav-link text-white"  
                    aria-current="page">
                      <i class="fa fa-table" > </i>
                      <span class=" ms-2 d-none d-sm-inline"> Dashboard</span>
                      </a>

              </li>

                <li class="nav-item ">
                    <a (click)="goToHome()"class="nav-link text-white"  
                      aria-current="page">
                        <i class="fa fa-home" > </i>
                        <span class=" ms-2 d-none d-sm-inline"> Home</span>
                        </a>

                </li>
                <li class="nav-item ">
                    <a (click)="addNewUser()"class="nav-link text-white" >
                        <i class=" fa fa-users"    aria-current="page"> </i>
                        <span class=" ms-3 d-none d-sm-inline"> Add User</span>
                        </a>

                </li>
            </ul>

        </div>
        <div>
          <div class="dropdown open">
            <a class="btn border-none outline-none text-white dropdown-toggle" type="button" id="triggerId" 
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <li class="fa fa-user"></li><span class="ms-1">Admin</span>
            </a>
             <div class="dropdown-menu" aria-labelledby="triggerId">
            <a (click)="logout()" class="dropdown-item" >Logout</a>
            <a href="#" class="dropdown-item" >Setting</a>
          </div>
          </div>
        </div>
    </div>
    <div class="col py-3">
    <router-outlet></router-outlet>
    </div>
    
  </div>
</div>