.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
  }
  
  .alert-success {
    background-color: #dff0d8;
    color: #3c763d;
  }
  
  .alert-error {
    background-color: #f2dede;
    color: #a94442;
  }
  .alert-warning
  {
    background-color: #FFFF00;
    color: #a94442;
  }
  
  .alert button {
    position: absolute;
    top: 5px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }