
<!--
<div class="container" style="width: 80%; margin: auto;"> 
    <form  [formGroup]="signupForm" >
    <h1 style="text-align: center;">Signup Here</h1>  <br>
       <div class="input-group mb-3">
            <label  class="col-sm-2 col-form-label">Name</label>
           <div style="width: 80%;"> 
              <input type="text" class="form-control"  formControlName="name"/>
            </div>
        </div> 

        <div class="input-group mb-3">
            <label  class="col-sm-2 col-form-label">Email</label>
            <div style="width: 80%;"> 
              <input type="email" class="form-control" formControlName="email"/>
            </div> 
        </div>

        <div class="input-group mb-3">
              <label  class="col-sm-2 col-form-label">Phone</label>
              <div style="width: 80%;"> 
               <input type="text" class="form-control" formControlName="phone"/>
              </div>
        </div> 
    <div class="input-group mb-3">
      <label  class="col-sm-2 col-form-label">Password</label>
      <div style="width: 80%;"> 
        <input type="password" class="form-control" formControlName="password"/>
        </div>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isAdmin" formControlName="isAdmin" checked>
            <label class="form-check-label" for="check1">Is Admin</label>
          </div>
          
            <button type="submit" style="margin-left: 40%;"(click)="signupdata()" class="btn btn-primary" [disabled]="this.signupForm.invalid">SignUp</button>

</form>
</div>
-->
<h3>Add a new user</h3>
<div class="register-form">
  <form [formGroup]="signupForm" (ngSubmit)="signupdata()">
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
      />

    </div>

    <div class="form-group">
      <label>email</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
      />

    </div>

    <div class="form-group">
      <label>Phone</label>
      <input
        type="text"
        formControlName="phone"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label>User Type</label>
      <input
        type="text"
        formControlName="userType"
        class="form-control"
      />
  
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
      />
  
    </div>





    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
      <button
        type="button"
        (click)="onReset()"
        class="btn btn-warning float-right"
      >
        Reset
      </button>
    </div>
  </form>
</div>
